@font-face {
    font-family: 'Gotham Pro';
    src: url("./fonts/GothaProMed.otf");
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url("./fonts/GothaProReg.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url("./fonts/GothaProBol.otf");
    font-weight: bold;
    font-style: normal;
}

body {
    --header_background: #3D3D3D;
    --header_alternate_background: #3D3D3D;
    --background_page: #3D3D3D;
    /* --background_content: #3D3D3D; */
    --font-android: Gotham Pro;
    --font-ios: Gotham Pro;
    /* overflow: hidden!important;
    position: fixed!important; */
    width: 100vw;
    background: #3D3D3D;
}

/* Уберает линию после шапки на iOS */
.PanelHeader-bg::after {
    height: 0!important;
}

.lost-connection {
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    text-align: center;
}